
.fontslider-body-div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fontslider-input-div {
    background-color: transparent;
    margin: 0;
    display: flex;
    align-items: center;

}

.fontslider-p-div {
    padding-top: 2vh;
    text-align: left;
    background-color: transparent;
}

#font-col {
    width: 50%;
    background-color: #fff;
}

#fontsize {
    width: 25vw;
    height: 5vh;
    background-color: #000;
    padding-left: 2vw;
    border: none;
    border-radius: 25rem;
    color: #fff;
    caret-color: #fff;
}

#font-range {
    background-color: transparent;
    cursor: grab;
    width: 20vw;
    margin: 0;
    padding: 0;
}

#font-range:active {
    cursor: grabbing;
}

.font-size-value {
    background-color: #fff;
    margin: 0 1rem;
    padding: .75rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 1.5vw;
}

#fontsize::placeholder {
    color: #fff;
}

#fontsize:focus::placeholder {
    color: transparent;
}

#dark #fontsize {
    color:rgb(22, 244, 22);
}

#dark ::placeholder {
    color: rgb(22, 244, 22);
    caret-color: rgb(22, 244, 22);
}