
.fontslider-body-div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.fontslider-input-div {
    background-color: transparent;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.fontslider-p-div {
    padding-top: 2vh;
    text-align: left;
    background-color: transparent;
}

#font-col {
    width: 50%;
    background-color: #fff;
}

#fontsize {
    width: 25vw;
    height: 5vh;
    color: #fff;
    background-color: #000;
    padding-left: 1vw;
    /* margin-right: 4vw; */
    border: none;
    border-radius: 25rem;
}

#fontsize:active {

}

#font-range {
    background-color: transparent;
    cursor: grab;
    width: 20vw;
    margin: 1vw 2vw;
}

#font-range:active {
    cursor: grabbing;
}