#section-font {
    padding-top: 4vh;
}

.body-container-div {
    margin-top: 10vh;
}

.character-list-div {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.character-list {
    text-align: left;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -.05vw;
    line-height: 1em;
}

#fontsize {
    cursor: text !important;
}

#symbols {
    font-size: 4vw;
    line-height: 1em;
}

.regular-font-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding:0;
    margin:0;
}

.regular-font-col {
    background-color: #fff;
}

.regular-font {
    font-size: 3vw;
    letter-spacing: -.05vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#extra-thin {
    font-weight: 100;
}
#thin {
    font-weight: 300;
}
#light-thin {
    font-weight: 200;
}
#medium {
    font-weight: 400;
}
#regular {
    font-weight: 500;
}
#normal {
    font-weight: 600;
}
#light-bold {
    font-weight: 700;
}
#bold {
    font-weight: 800;
}
#extra-bold {
    font-weight: 900;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #000 ;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.col-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-bottom: 2px solid #000;
}

.subform-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#subform-title {
    background-color: #fff;
}

#subfam-letters {
    background-color: #fff;
}

.subform-title-div {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25rem;
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3vh;
}

.subform-title-div-text {
    font-size: 1vw;
    font-weight: 500;
    background-color: transparent;
    margin: 0 auto;
}

.subform-title-div-letters {
    background-color: #fff;
    font-size: 6vw;
    font-weight: 500;
    margin: 0;
}

#condensed {
    letter-spacing: -.5vw;
}

#compact {
    letter-spacing: -.25vw;
}

#regular {
    letter-spacing: -.05vw;
}

#expanded {
    letter-spacing: .25vw;
}

#body-col{
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#body-col-dark{
    height: 100vh;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-around;
}

.italic-font {
    font-style: italic;
    letter-spacing: -.05vw;
}

.lorem-row {
    display: flex;
   
}

#f64px {
    font-size: 4.25vw;
    line-height: 7vh;
}

#f48px {
    font-size: 3.1vw;
    line-height: 5vh;
}

#f32px {
    font-size: 2.1vw;
    line-height: 3.5vh;
}

#f24px {
    font-size: 1.55vw;
    line-height: 3vh;
}

#f16px {
    font-size: 1.05vw;
    line-height: 2vh;
    
}

.text-field-div-100 {
    width: 100%;  
    background-color: transparent;
    text-align: left; 
}

.text-field-100 {
    font-size: 1.5vw;
}

.text-field-div-45 {
    background-color: transparent;
    text-align: left; 
    display: flex;
    flex-wrap: nowrap
}

.text-field-45 {
    font-size: 1.25vw;
    margin-right: 1vw;
}

.text-field-div-33 {
    background-color: transparent;
    text-align: left; 
    display: flex;
    flex-wrap: nowrap
}

.text-field-33 {
    font-size: 1vw;
    margin-right: 1vw;
}

.lower {
    font-size: 4vw;
    line-height: 1em;
}

.russian {
    font-size: 4vw;
    line-height: 1em;
}

.russian-lower {
    font-size: 4vw;
    line-height: 1em;
}

.russian-num {
    font-size: 3vw;
    line-height: 1em;
}

.icelandic {
    font-size: 4vw; 
}

.icelandic-lower {
    font-size: 4vw;
    line-height: 1em;
}