.header-row {
    margin: 2vh;
}

.heady-container-div {
    margin-top: 6vh;
}

#header-text-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4vw;
}

#header-text {
    font-size: 16vw;
    font-weight: 700;
    letter-spacing: -.5vw;
}

.scroll-text {
    margin: 0 2vw;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.line-div {
    width: 90%;
    height: 1px;
    background-color: #000;
    margin: 4vh auto;
}

#header-col {
    width: 100%;
    line-height: 1.75;
    text-align: left;
    margin: 2vw 0;   
    transition: all .25s ease-in-out;
}

#header-col li {
    transition: all .25s ease-in-out;
}

.hostory-col {
    margin: 0 auto;
    transition: all .25s ease-in-out;
    border: solid 1px #000;
    padding: .5vw;
    text-align: start;
}

.hostory-col:hover {
    background-color: #000;
    color: whitesmoke;
    transition: all .25s ease-in-out;
}

#dark .line-div {
    background-color: rgb(22, 244, 22);
}
