

.footer-body-div {
    margin-top: 6vh;
    height: 20vh;
}

.footer-col {
    text-align: left;
}

#tag {
    color: gray;
    text-decoration: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
    line-height: 2;
}

#tag:hover {
    letter-spacing: .15em;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#footer-link {
    color: gray;
    text-decoration: none;
    transition: all .5s ease-in-out;
    border-bottom: 1px solid transparent;
}

#footer-link:hover {
    transition: all .25s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid gray;
}