/* * {
    background-color: rgb(22, 244, 22);
} */

::selection {
    user-select: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    cursor: default !important;
  }

  button {
    cursor: pointer !important;
  }

  a {
    cursor: pointer !important;
  }

  #light {
    background-color: rgb(22, 244, 22);
  }

  #dark {
    background-color: #000;
    color: rgb(22, 244, 22);
    
  }
