

.nav-body-div {
    height: 16vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-info-div {
    width: 32vw;
    min-width: 16rem;
    min-height: 4rem;
    height: auto;
    margin: 0 4vw;
    border: 1px solid #000;
    border-radius: 25rem;
    background-color: #ffffff;
    /* backdrop-filter: blur(5px); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
}

.nav-info-list {
    background-color: #fff;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    background-color: #fff; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav-text {
    font-size: 1.5vw;
    padding: 1vw;
    border-radius: 25rem;
    background-color: transparent;
    color: #000;
    border: none;
    cursor:  pointer !important;
}

.click-btn {
    font-size: 2vw;
    width: 7vw;
    min-width: 4rem;
    height: 3.5vw;
    min-height: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 25rem;
    transition: all .75s linear;
  }

#light .click-btn {
  color: #000;
  background-color: rgb(22, 244, 22);
}

#dark .click-btn {
  color: rgb(22, 244, 22);
  background-color: #000;
}

#gray .click-btn {
  color: rgb(241, 250, 228);
  background-color: rgb(153, 163, 191);
}

#blue .click-btn {
  color: rgb(229, 58, 58);
  background-color: rgb(207, 238, 228);
}

#green .click-btn {
  color: rgb(214, 255, 0);
  background-color: rgb(45, 45, 45);
}

#purple .click-btn {
  color: rgb(255, 188, 210);
  background-color: rgb(31, 98, 70);
}

#pink .click-btn {
  color: rgb(229, 58, 58);
  background-color: rgb(253, 207, 182);
}

#brown .click-btn {
  color: rgb(239, 234, 53);
  background-color: rgb(71, 66, 49);
}

.click-btn:hover {
    background-color: #000 !important;
    color: #fff !important;
    transition: all .25s linear;
}

.nav-btn {
    font-size: 2vw;
    font-weight: 300;
    width: 7vw;
    min-width: 4rem;
    height: 3.5vw;
    min-height: 2rem;
    padding: 0;
    margin: 0;
    border-radius: 25rem;
    background-color: #000;
    color: inherit;
    border: none;
    transition: all .25s ease-in-out;
}

#light .button-text {
  color: #fff;
}

.nav-btn:hover {
    transition: all .25s ease-in-out;
}

.nav-btn:active {
    color: #fff;
}

p {
    background-color: transparent;
}

#nav-links {
    background-color: #fff;
}

.button-text {
    display: inline-block;
    background-color: #000;
    animation: fade .75s ease-in;
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .nav-btn.top-btn .button-text {
    animation: fade-in .75s ease-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }